.todos-list > ul {
  columns: 4 230px ;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.todos-list > ul > li {
  display: flex;

  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
  break-inside: avoid-column;

  border-radius: 8px;
  border: 1px solid rgb(94, 57, 57);
  cursor: pointer;
}
.todos-list > ul > li:hover {
  opacity: 1;
}

.todos-list > ul > li > span {
  opacity: 0;
  transition: opacity 0.5s;
}

.todos-list > ul > li:hover > span {
  opacity: 1;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.todoCompleted  h2{
  text-decoration:line-through;
}



@media  (max-width: 600px) {
  .todos-list > ul > li{
    width: 350px
  }
}